[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pycodestyle = "*"
yapf = "*"
mypy = "*"
yourproject = {editable = true, extras = ["pretty"], path = "."}
pytest-cov = "*"

[packages]

[requires]
python_version = "3"
